<div>
<a href="/api/v1/allUsers">Get Details</a>
</div>
<hr>

<% if(details!=null) { %>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <th>Name</th>
            <th>PhoneNo </th>
            <th>Address</th>
            <th>State</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <% details.forEach(function(item){ %>
    <tr>
        <td><%= item.Name%></td>
        <td><%= item.PhoneNo%></td>
        <td><%= item.Address%></td>
        <td><%= item.State %></td>
        <td><%= item.City%></td>
    </tr>
    <tbody>
<% }) %>
</table>
<% } %>